<html>
    <head>

    </head>
    <body>
        <div style="text-align: center; font-style: italic; background-color: rgba(52, 195, 214, 0.178);">
            <h2> <b>Sign Up</b> </h2> 
         </div>
         <div>
             <form action="/regs" method="POST">

                <p style="padding-top: 20px; ">
                    <label  >
                        First Name:

                    </label>
                   
                    <input  placeholder="enter first name"  required type="text"  name="fname" size="30"   class="form-control"  required/>
                  
                </p>
                <p>
                    <label >     
                        Last Name:
                  </label>
                       <input type="text " placeholder="enter the last name" name="lname" size="30" class="form-control" required />

                </p>
                
                     <p>
                         <label >
                            Phone No:
                            

                         </label>
                         
                         <input type="text" name="phoneNo"  placeholder="enter the phone no " class="form-control" required / >

                     </p>
                     <p>
                         <label >
                            Email:

                         </label>
                        <input type="email"  placeholder="enter the email id " id="email" name="email"  size="40" onchange="validate_email()"class="form-control" required />
                     </p>
                     <p style="padding-top: 30px;padding-left: 50px;">
                        <input type="submit" class="btn btn-primary"  value="register" >

                     </p>

             </form>
         </div>
        
    </body>
</html>